langchain==0.1.
langchain_community==0.0.16
langchain_core==0.1.17
langchain_openai==0.0.5
python-dotenv==1.0.1
streamlit==1.30.0
chromadb==0.4.22
beautifulsoup4==4.12.2
openai==1.10.0  # Or any version that is compatible with langchain-openai==0.0.5
opencv-python==4.5.4.60
pytesseract==0.3.9
speechrecognition==3.8.1
gtts==2.2.3
